<div class="grid">
    <div class="socket-header"><p class="header-text">Sockets</p></div>
    <div class="socket-form">
        <p style="padding-top: 4rem;">First Name: </p>
        <input [(ngModel)]="firstName"/>
        <p>Last Name: </p>
        <input [(ngModel)]="lastName"/>
        <button style="margin-top: 4rem;" (click)="addPlayer()">Add Player</button>
    </div>
    <div class="socket-list">
        <div class="player-card" *ngFor="let player of players">Name: {{player.firstName}} | Last Name: {{player.lastName}}</div>
    </div>
    <div class="socket-footer"></div>
</div>

